#audio1-accesible {
  width: 100px;
  height: 10px;
  text-align: center;
  justify-content: center;
  padding-top: 0;
  margin-top: 0;
}

.btn-platzi:hover {
  background-color: #242522;
}

.formaci贸n {
  border: 1px solid gray;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}

#header img {
  width: 330px;
  margin-left: 0;
  margin-top: 0;
}

#main .carousel-inner img {
  max-height: 80vh;
  object-fit: cover;
  /* filter: grayscale(70%); */
}

#carousel {
  position: static;
  margin-bottom: 10px
}

#carousel .overlay {
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

#carousel .overlay .container,
#carousel .overlay .row {
  height: 100%;
}

#formaci贸n {
  background-color:  #111229;
  color: white;
}

#formaci贸n img {
  max-width: 100%;
}

#preparaci贸n-laboral {
  background-color: #111229;
}
#contactanos {
  margin-top: 20px;
  padding: 40px;;
}
#atencion_pcd audio{
  display: flex;
  text-align: center;


}


